<!-- Большая круглая летающая кнопка меню -->
<div class="mt mh0 p+++" flex-container="row" flex-gutter="24"  flex-align="space-between center" >

    <div flex-item="10">
    </div>

    <div flex-item="1">
        <!-- Up direction -->
        <div class="fab">
            <button class="fab__primary btn btn--xl btn--blue btn--fab" lx-ripple lx-tooltip="И на + можно повесить действие тоже!" tooltip-position="left">
                <i class="mdi mdi-android"></i>
                <i class="mdi mdi-plus"></i>
            </button>

            <div class="fab__actions fab__actions--up">
                <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="left"><i class="mdi mdi-delete"></i></button>
                <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="left"><i class="mdi mdi-package"></i></button>
                <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="left"><i class="mdi mdi-pencil"></i></button>
            </div>
        </div>
        <!--libs-->
    </div>

    <div flex-item="1">
    </div>

</div>