<!-- Большая круглая летающая кнопка меню -->
<div ng-controller="FloatingButtonCtrl as button" ng-cloak class="floating-button">
    <md-fab-speed-dial
            md-direction="up"
            md-open="button.isOpen"
            ng-mouseenter="button.isOpen=true"
            ng-mouseleave="button.isOpen=false"

            class="md-scale md-fab-bottom-right">
        <md-fab-trigger>
            <md-button aria-label="FAB" class="md-fab md-warn">
                <md-tooltip md-direction="left">Меню</md-tooltip>
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
             <md-button aria-label="na" class="md-fab md-raised md-mini">
                 <md-tooltip md-direction="left">Добавить цель</md-tooltip>
                 <a href="/">
                    <md-icon class="material-icons">star</md-icon>
                 </a>
             </md-button>
            <md-button aria-label="na" class="md-fab md-raised md-mini">
                <md-tooltip md-direction="left">Добавить структуру</md-tooltip>
                <a href="/">
                    <md-icon class="material-icons">person_add</md-icon>
                </a>
            </md-button>
            <md-button aria-label="na" class="md-fab md-raised md-mini">
                <md-tooltip md-direction="left">Добавить встречу</md-tooltip>
                <a href="/">
                    <md-icon class="material-icons">group_add</md-icon>
                </a>
            </md-button>
            <md-button aria-label="na" class="md-fab md-raised md-mini" ng-click="addTask()">
                <md-tooltip md-direction="left">Добавить задачу</md-tooltip>
                <md-icon class="material-icons">assignment_turned_in</md-icon>
            </md-button>
            <md-button aria-label="logout" class="md-fab md-raised md-mini">
                <md-tooltip md-direction="left">Добавить напоминание</md-tooltip>
                <md-icon class="material-icons">alarm_add</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>