<md-card class="index-card">
    <md-card-header>
        <md-card-header-text>
            <font class="md-title">Лента задач</font>
        </md-card-header-text>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
        Тут будет лента задач
    </md-card-content>
    <md-card-header>
        <md-card-header-text>
            <font class="md-title">Кнопка отправки</font>
        </md-card-header-text>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
        <md-button ng-click="send()">Отправить</md-button>
    </md-card-content>
</md-card>