<div class="auth-form mt mh0 p+++" flex-container="row" flex-gutter="24"  flex-align="space-between center" >

    <div flex-item="3" flex-item-order="1"></div>

    <div flex-item="6" flex-item-order="2">
        <div class="card">
            <div class="p+">
                <div class="paragraph fs-body-1">
                    <lx-text-field label="Логин">
                        <input type="text" ng-model="login">
                    </lx-text-field>
                </div>
            </div>
            <div class="p+">
                <div class="paragraph fs-body-1">
                    <lx-text-field label="Пароль">
                        <input type="password" ng-model="password">
                    </lx-text-field>
                </div>
            </div>

            <div class="card__actions">
                <button class="btn btn--m btn--green btn--flat" lx-ripple ng-click="submit()">ВХОД</button>
            </div>
        </div>
    </div>

    <div flex-item="3" flex-item-order="3"></div>


</div>