/* Кнопки соц сетей */
.social_network_btn{
    width: 36px;
    height: 36px;
    margin: 0 3px;
    background: url("assets/images/logo.png") no-repeat;
    background-size: round(535px*0.39) round(210px*0.39);
    border: none;
}
.social_network_btn.google_btn{
    background-position: -1px -2px;
}
.social_network_btn.twitter_btn{
    background-position: -45px -2px;
}
.social_network_btn.facebook_btn{
    background-position: -129px -2px;
}
.social_network_btn.vk_btn{
    background-position: -1px -45px;
}


/* Форма входа */
.login_form .submit{
    float: right;
    margin-bottom: 7px;
}
.login_form{
    width: 500px;
    margin:100px auto;
}