<div class="login_form">

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Введите новый пароль</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>

            <form ng-submit="setPassword()">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Новый пароль</label>
                    <input type="password" ng-model="textFields.password" required  minlength="6" maxlength="100">
                </md-input-container>

                <div>
                    <md-button type="submit" class="submit md-raised">СОХРАНИТЬ</md-button>
                </div>
            </form>

        </md-card-content>
    </md-card>

</div>