<!-- Шапка -->
<div class="top-toolbar" ng-controller="HeaderCtrl">
    <md-toolbar class="header">
        <div class="md-toolbar-tools" >
            <md-button class="md-icon-button" ng-click="showLeftToolbar()">
                <md-icon md-svg-src="app/assets/images/icon/menu.svg"></md-icon>
            </md-button>
            <h2>
                <span>Меню</span>
            </h2>
        </div>
    </md-toolbar>

    <!-- left bar -->
    <div class="left-toolbar" ng-show="left_toolbar.show">
        <md-toolbar>
            <div class="md-toolbar-tools" ng-click="hideLeftToolbar()">
                <md-button class="md-icon-button">
                    <md-icon md-svg-src="app/assets/images/icon/menu.svg"></md-icon>
                </md-button>
                <span>Меню</span>
            </div>
        </md-toolbar>
        <ul class="top-menu">
            <li>Лента задач</li>
            <li>Цели показатели</li>
            <li>Расписание</li>
            <li>Структура</li>
            <li>Карта задач</li>
        </ul>
        <ul class="bottom-menu">
            <li>О битаске</li>
            <li>О разработчиках</li>
            <li>Помощь</li>
        </ul>
    </div>
    <div class="left-toolbar-shadow" ng-click="hideLeftToolbar()" ng-show="left_toolbar.show"></div>


</div>


<md-content>
    <br><br><br><br>
</md-content>