<!-- Шапка -->
<div class="toolbar bgc-purple-500 tc-white">

    <div class="toolbar__left">

        <lx-dropdown position="left" from-top>
            <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle  lx-tooltip="Меню" tooltip-position="right">
                <i class="mdi mdi-menu"></i>
            </button>

            <lx-dropdown-menu>
                <ul>
                    <li><a href="/" class="dropdown-link">Главная</a></li>
                    <li><a href="/view1" class="dropdown-link">Индекс 1 </a></li>
                    <li><a href="/view2" class="dropdown-link">Индекс 2</a></li>
                </ul>
            </lx-dropdown-menu>
        </lx-dropdown>

    </div>

</div>