<md-card class="goals-card">
    <md-card-header>
        <md-card-header-text>
            <font class="md-title">Цели - показатели</font>
        </md-card-header-text>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
        Тут будут цели показатели
    </md-card-content>


    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">
    <md-button class="md-raised" ng-click="getAllTarget()">home</md-button>
    </md-subheader>
    <md-list-item ng-repeat="target in targets">
        <md-checkbox ng-model="target.selected" ng-change="change()"></md-checkbox>
        <p>{{ target.description }}</p>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>
    <md-divider></md-divider>


    <div ivh-treeview="targets"
        ivh-treeview-id-attribute="'id'"
        ivh-treeview-label-attribute="'description'"
        ivh-treeview-children-attribute="'children'"
        ivh-treeview-selected-attribute="'selected'">
    </div>

    <div ng-controller="GoalsCtrl as fancy">
      <input type="text" ng-model="goalsSearch" />
      <div
        ivh-treeview="fancy.goals"
        ivh-treeview-filter="goalsSearch">
      </div>
    </div>


    <md-button class="md-raised" ng-click="addTarget()">Добавить цель</md-button>
    <md-button class="md-raised" ng-click="addSubTarget()">Добавить подцель</md-button>
    <md-button class="md-raised" ng-click="deleteTarget()">Удалить</md-button>

    <pre> {{ targets | json }} <pre>

</md-card>
