<div ng-repeat="target in targets | filter:{parentId:(target?target.id:null)}:true" layout="row">
	<md-card class="goals-card" data-parent-id="{{target.parentId}}">

	<div layout="row" class="main">

		<div class="main-target">

			<div layout="row">

			    <div ng-if="target.parentId === null" layout="row" layout-align="start center">
			    	<md-button ng-click="target.showme=true" ng-hide="target.showme" class="md-icon-button">
			        	<md-icon class="md-secondary" aria-label="Chat">keyboard_arrow_right</md-icon>
			        </md-button>
			    	<md-button ng-click="target.showme=false" ng-show="target.showme" class="md-icon-button">
			        	<md-icon class="md-secondary" aria-label="Chat">keyboard_arrow_down</md-icon>
			        </md-button>
			        {{ target.description }}
			    </div>

			    <div ng-if="target.parentId !== null" layout="row" layout-align="start center" ng-hide="target.showme">
			        {{ target.description }}
			    </div>
		        

		        <md-card-actions layout="row" layout-align="end center">
			        <md-button ng-click="doSecondaryAction($event)" class="md-icon-button">
			        	<md-icon class="md-secondary" aria-label="Chat">share</md-icon>
			        </md-button>
			        <md-button ng-click="doSecondaryAction($event)" class="md-icon-button">
			        	<md-icon class="md-secondary" aria-label="Chat">account_box</md-icon>
			        </md-button>
			        <md-button ng-click="doSecondaryAction($event)" class="md-icon-button">
			        	<md-icon class="md-secondary" aria-label="Chat">date_range</md-icon>
			        </md-button>
			        <md-button ng-click="doSecondaryAction($event)" class="md-icon-button">
			        	<md-icon class="md-secondary" aria-label="Chat">more_vert</md-icon>
			        </md-button>
		        </md-card-actions>
	        </div>

	        <md-card>
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Card 1</span>
	            <span class="md-subhead">Small</span>
	          </md-card-title-text>
	          <md-card-title-media>
	            <div class="md-media-sm card-media"></div>
	          </md-card-title-media>
	        </md-card-title>
	        <md-card-actions layout="row" layout-align="start center">
	          <md-button ng-click="target.showme2=false" ng-show="target.showme2" class="md-icon-button">
	          	<md-icon class="md-secondary" aria-label="Chat">keyboard_arrow_down</md-icon>
	          </md-button>
	          <md-button ng-click="target.showme2=true" ng-hide="target.showme2" class="md-icon-button">
	          	<md-icon class="md-secondary" aria-label="Chat">keyboard_arrow_up</md-icon>
	          </md-button>
	        </md-card-actions>
	      	</md-card>

	      	<md-card ng-show="target.showme2">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">Card 2</span>
	            <span class="md-subhead">Small</span>
	          </md-card-title-text>
	          <md-card-title-media>
	            <div class="md-media-sm card-media"></div>
	          </md-card-title-media>
	        </md-card-title>
	        <md-card-actions layout="row" layout-align="end center">
	          <md-button>Action 1</md-button>
	          <md-button>Action 2</md-button>
	        </md-card-actions>
	      	</md-card>


      	</div>


      


        


        <div ng-show="target.showme" ng-include="'app/views/goals/one_goal.html'"></div>

    </div>

	</md-card>
</div>